.became{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    gap: 24px;
    top: 0px;
}
.founderimg{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;

}
.btn2{
    width: 283px;
    height: 49px;
    background-color: #E4002B;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    color: white;
}
.becameh2{
    color: white;
    font-size: 2rem;
    
}